:root {
  /* Main color */
  --main-color-30: #81caff;
  --main-color-20: #cbe3ff;
  --main-color-10: #daebff;

  /* text */
  --text-black-60: #353535;
  --text-black-50: #5d5d5d;
  --text-black-40: #bbbbbb;
  --text-black-30: #d9d9d9;
  --text-black-20: #e7e7e7;
  --text-black-10: #e7e7e7;

  /* Alert color */
  --alert-green: #1a9452;
  --alert-red: #ff6c6c;

  /* Select color */
  --select-gray: #b4b4b4;
  --select-pink: #fbb9d0;
  --select-green: #d4e7bd;
  --select-brown: #ddc59c;
  --select-skyblue: #cfe7ef;
  --select-purple: #c2c1fd;
  --select-orange: #ffcba5;

  /* Status color */
  --status-green: #b2d9cf;
  --status-yellow: #ffe99c;
  --status-gray: #d9d9d9;
}
