.custom-react-datepicker__wrapper {
  display: flex;
  font-display: row;
  align-items: center;
  width: 20rem;
}
.custom-react-datepicker__label-span {
  font-size: 15px;
  font-family: "Pretendard Variable", sans-serif;
  width: 100%;
  color: #2b2b2b;
}

.react-datepicker__input-container input {
  background-color: transparent;
  width: 7rem;
  height: 19px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Pretendard Variable", sans-serif;
  color: #2b2b2b;
}
.react-datepicker-ignore-onclickoutside {
  outline: 2px solid var(--main-color-20);
}
.react-datepicker__triangle {
  display: none;
}
.react-datepicker {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border: none !important;
  border-radius: 1.5rem !important;
}
.react-datepicker-wrapper {
  width: 6.5rem;
}
.react-datepicker__header {
  height: 3.3rem !important;
  padding: 0 !important;
  background-color: var(--main-color-20) !important;
  border: none !important;
  position: relative;
  text-align: center;
  border-radius: 1.5rem 1.5rem 0 0 !important;
}
.custom-react-datepicker__select-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 19rem;
  height: 36px;
}
.custom-react-datepicker__select-wrapper button {
  background-color: transparent;
  border: none;
  height: 100%;
}
.custom-react-datepicker__select-item {
  display: flex;
  align-items: center;
  width: 4rem;
}
.custom-react-datepicker__select-wrapper select {
  width: 3.5rem;
  height: 100%;
  background: transparent;
  border: 0;
  font-weight: 600;
  font-family: "Pretendard Variable", sans-serif;
  font-size: 1.4rem;
  line-height: 2.1rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
.custom-react-datepicker__select-wrapper span {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 18px;
  margin-left: 3px;
  font-weight: 500;
  font-family: "Pretendard Variable", sans-serif;
  font-size: 8px;
  color: white;
}
.react-datepicker__month {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 11.5rem;
  margin: 1.5rem 0.5rem !important;
}
.react-datepicker__week {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  margin: 0.5px 0 !important;
}

.react-datepicker__day-name {
  display: none !important;
  height: 0 !important;
  width: 0 !important;
}

.react-datepicker__day {
  width: 2.5rem !important;
  height: 100% !important;
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  line-height: 2rem !important;
  color: var(--text-black-60);
  font-family: "Pretendard Variable", sans-serif;
  margin: 0 !important;
  padding: 0 !important;

  &:first-child {
    color: red;
  }

  &:last-child {
    color: blue;
  }
}

// 현재 선택한 날짜
.react-datepicker__day--selected {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white !important;
  width: 19px;
  height: 14px;
  line-height: 14px;
}

.react-datepicker__day--keyboard-selected {
  background-color: white !important;
  color: #2b2b2b !important;
}

.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range {
  background-color: var(--main-color-20) !important;
  border-radius: 0 !important;
}

.react-datepicker__day--today {
  background-color: var(--main-color-30);
  border-radius: 50%;
  color: white !important;
}

.react-datepicker__day--range-start {
  background-color: var(--main-color-30) !important;
  // 그라데이션 줘서 2가지 색 넣기
  background: radial-gradient(
    var(--main-color-30) 70%,
    var(--main-color-20) 40%
  );
  border-radius: 1.5rem 0 0 1.5rem !important;
}

.react-datepicker__day--range-end {
  background-color: var(--main-color-30) !important;
  background: radial-gradient(
    var(--main-color-30) 70%,
    var(--main-color-20) 40%
  );
  border-radius: 0 1.5rem 1.5rem 0 !important;
}

.custom-react-datepicker__split-span {
  display: flex;
  font-display: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 11px;
  margin: 0 10px;
  color: var(--text-black-60);
}
