@charset "utf-8";

/* 모든 걸 초기화 시키고 나만의 CSS를 적용 */
@import "./_reset";

/* html 태그에 적용되는 기본 스타일 */
@import "./_root";

/* Pretendard Font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

/* 기준 폰트 사이즈 1rem */
html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
}

/* 기본 글꼴 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Pretendard Variable", sans-serif;
  color: var(--text-black-60);
}

h1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 150%;
}

h2 {
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 150%;
}

h3 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 150%;
}

h4 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%;
}

h5 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 150%;
}

h6 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}

p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 150%;
}

.container {
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
