.sideContainer {
  padding: 0 1.2rem;
  padding-bottom: 0.4rem;
}
.sideDoing {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 0.4rem;

  .doingCheckbox {
    color: var(--status-yellow);
    font-size: 1.4rem;
    line-height: 2.1rem;
    margin-right: 1.2rem;
  }

  .doingName1,
  .doingName2 {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }

  #doingStar0,
  #doingStar1 {
    font-size: 1.2rem;
    line-height: 2.1rem;
    color: var(--text-black-20);
  }

  .important {
    color: #ffc773 !important;
  }
}
