.header {
  background-color: var(--main-color-20);
  height: 5.6rem;
  width: 100vw;
}

.todoContainer {
  height: calc(100vh - 5.6rem);
  padding: 0 3.2rem;
  padding-top: 2.9rem;
  display: flex;
  background-color: #f8f8f8;
}

.shadow {
  box-shadow: 0px 0px 2px 2px #e7e7e745;
}

.left {
  width: 23.2rem;
  height: 100%;
  margin-right: 1.6rem;
  box-sizing: border-box;

  .miniCalendar {
    width: 100%;
    height: 24rem;
    background-color: #ffffff;
    border-radius: 15px;
    margin-bottom: 2rem;
    box-sizing: border-box;
  }

  .whiteBox {
    width: 100%;
    height: 49.4rem;
    background-color: #ffffff;
    border-radius: 15px;
  }
}

.right {
  width: 116.6rem;
  height: 100%;
  margin: 0 2.9rem;
  padding-top: 3.6rem;
  box-sizing: border-box;

  .todoGroup {
  }
}

.todoGroupingBox {
  width: 100%;
  height: 5.3rem;
  margin-bottom: 1.6rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  .todo {
    width: 37.8rem;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;

    .state {
      width: 2.7rem;
      height: 2.7rem;
      border-radius: 50%;
      background-color: var(--status-green);
      margin-right: 2rem;
      box-sizing: border-box;
    }
  }
  .doing {
    width: 37.8rem;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;

    .state {
      width: 2.7rem;
      height: 2.7rem;
      border-radius: 50%;
      background-color: var(--status-yellow);
      margin-right: 2rem;
      box-sizing: border-box;
    }
  }
  .done {
    width: 37.8rem;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;

    .state {
      width: 2.7rem;
      height: 2.7rem;
      border-radius: 50%;
      background-color: var(--status-gray);
      margin-right: 2rem;
      box-sizing: border-box;
    }
  }
}

// todoGroupingBox 제목, 개수
.title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.7rem;
}

.count {
  width: 2.7rem;
  height: 2.7rem;
  margin-left: 1rem;
  border-radius: 5px;
  background-color: var(--main-color-30);
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 400;
  line-height: 2.7rem;
  text-align: center;
}

//todo 추가
.addTodo:hover {
  cursor: pointer;
}

.todoGroupBox {
  width: calc(100% + 15px);
  // 스크롤바 넓이 고려해 더해줌
  height: 535px;
  display: flex;
  box-sizing: border-box;
  // justify-content: space-between;
  overflow-y: auto;

  .todo {
    width: 37.8rem;
    margin-right: 1.6rem;
    box-sizing: border-box;
  }

  .doing {
    width: 37.8rem;
    margin-right: 1.6rem;
    box-sizing: border-box;
  }

  .done {
    width: 37.8rem;
    box-sizing: border-box;
  }
}

// todoGroupBox 스크롤바
.todoGroupBox::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
  box-sizing: border-box;
}

.todoGroupBox::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: var(--main-color-30); /* 스크롤바의 색상 */
  border-radius: 15px;
}

.todoGroupBox::-webkit-scrollbar-track {
  background: rgba(132, 206, 255, 0.175); /*스크롤바 뒷 배경 색상*/
  border-radius: 15px;
}

//input창
.inputStyle {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 37.8rem;
  height: 5.3rem;
  border-radius: 15px;
  margin-bottom: 1.6rem;
}

.inputIcon {
  font-size: 2rem;
  margin-left: 2rem;
  color: #dddddd;
}

.todoInput {
  width: 32rem;
  height: 5.3rem;
  border: 0;
  outline: none;
  font-size: 1.8rem;
  border-radius: 15px;
  margin-left: 2rem;
}


input::placeholder {
  color: #c9c9c9;
}
