.todoBox {
  width: 100%;
  height: 15.6rem;
  margin-bottom: 1.6rem;
  box-sizing: border-box;
  border-radius: 15px;

  .todoContent {
    width: 100%;
    height: 100%;
    padding-right: 1.3rem;
    padding-left: 2.5rem;
    padding-top: 1.3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
  }
}

.todoState {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.todoInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.7rem;
  margin-bottom: 0.4rem;
  box-sizing: border-box;
}

//input창
.inputStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 31rem;
  height: 15.6rem;
  border-radius: 15px;
  margin-bottom: 1.6rem;
}

.inputIcon {
  font-size: 2rem;
  color: #dddddd;
  margin-right: 2rem;
}

input::placeholder {
  color: #c9c9c9;
}

.todoTitle {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 700;
  box-sizing: border-box;
  margin-bottom: 0.4rem;
  background-color: transparent;
}

.todoDate {
  width: 100%;
  margin-bottom: 0.4rem;
  box-sizing: border-box;
  display: flex;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 600;

  .startDate {
    font-size: 1.2rem;
    line-height: 1.8rem;
    width: 5.5rem;
    border: none;
    font-weight: 600;
    margin-right: 1rem;
    font-family: "Pretendard Variable", sans-serif;
    background-color: transparent;
  }
  .endDate {
    font-size: 1.2rem;
    line-height: 1.8rem;
    width: 6rem;
    border: none;
    font-weight: 600;
    margin-left: 1rem;
    font-family: "Pretendard Variable", sans-serif;
    background-color: transparent;
  }
}

.todoMemo {
  resize: none;
  border: none;
  outline: none;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 500;
  box-sizing: border-box;
  width: 100%;
  font-family: "Pretendard Variable", sans-serif;
  color: var(--text-black-60);
  background-color: transparent;
}
.todoMemo::placeholder {
  color: #d0d0d0;
}

//todoBox 상세설정
.setTodo:hover {
  cursor: pointer;
}
