.todoContainer {
  width: 100%;
  height: calc(100vh - 4rem);
  padding: 2.4rem 2rem;
  display: flex;
  background-color: #f8f8f8;
}

.shadow {
  box-shadow: 0px 0px 2px 2px #e7e7e745;
}

.left {
  min-width: 19rem;
  max-width: 20rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .miniCalendar {
    width: 100%;
    // height: 19.6rem;
    height: 34%;
    background-color: #ffffff;
    border-radius: 15px;
    margin-bottom: 2rem;
    box-sizing: border-box;
  }

  .whiteBox {
    width: 100%;
    // height: 41.6rem;
    height: 62%;
    background-color: #ffffff;
    border-radius: 15px;
  }
}

.right {
  width: 100%;
  height: 100%;
  margin: 0 4rem;
  padding-top: 3.3rem;
  box-sizing: border-box;

  .todoGroup {
  }
}

.todoGroupingBox {
  width: calc(100% + 15px);
  height: 5.6rem;
  margin-bottom: 1.6rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  .todo {
    min-width: 25rem;
    width: 100%;
    max-width: 38rem;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin: 0 2rem;
    box-sizing: border-box;

    .state {
      width: 2.7rem;
      height: 2.7rem;
      border-radius: 50%;
      background-color: var(--status-green);
      margin-right: 2rem;
      box-sizing: border-box;
    }
  }
  .doing {
    min-width: 25rem;
    width: 100%;
    max-width: 38rem;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin: 0 2rem;
    box-sizing: border-box;

    .state {
      width: 2.7rem;
      height: 2.7rem;
      border-radius: 50%;
      background-color: var(--status-yellow);
      margin-right: 2rem;
      box-sizing: border-box;
    }
  }
  .done {
    min-width: 25rem;
    width: 100%;
    max-width: 38rem;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin: 0 2rem;
    box-sizing: border-box;

    .state {
      width: 2.7rem;
      height: 2.7rem;
      border-radius: 50%;
      background-color: var(--status-gray);
      margin-right: 2rem;
      box-sizing: border-box;
    }
  }
}

// todoGroupingBox 제목, 개수
.title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.7rem;
}

.count {
  width: 2.7rem;
  height: 2.7rem;
  margin-left: 1rem;
  border-radius: 5px;
  background-color: var(--main-color-30);
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 400;
  line-height: 2.7rem;
  text-align: center;
}

//todo 추가
.addTodo:hover {
  cursor: pointer;
}

.todoGroupBox {
  position: relative;
  width: calc(100% + 15px);
  // 스크롤바 넓이 고려해 더해줌
  height: 535px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;

  .todo {
    position: relative;
    min-width: 25rem;
    width: 100%;
    max-width: 38rem;
    margin: 0 2rem;
    box-sizing: border-box;
  }

  .doing {
    min-width: 25rem;
    width: 100%;
    max-width: 38rem;
    margin: 0 2rem;
    box-sizing: border-box;
  }

  .done {
    min-width: 25rem;
    width: 100%;
    max-width: 38rem;
    margin: 0 2rem;
    box-sizing: border-box;
  }
}

// todoGroupBox 스크롤바
.todoGroupBox::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
  box-sizing: border-box;
}

.todoGroupBox::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: var(--main-color-30); /* 스크롤바의 색상 */
  border-radius: 15px;
}

.todoGroupBox::-webkit-scrollbar-track {
  background: rgba(132, 206, 255, 0.175); /*스크롤바 뒷 배경 색상*/
  border-radius: 15px;
}
